<div id="exercise_text_selected_div">
  <%= t("selectedExercise") %>
  <div id="exercise_text_selected">

  </div>
</div>
  <div id="exercises_text_header" class="nice_inner_tab_js_hover">
    <%= t("allMusleExercises") %>

  </div>
  <div id="exercises_text">
    <%= render "main/exercises_text" ,  exercises: @exercises  %>
  </div>


