

<%# p_exercises = @muscles.blank? ? [] : @muscles[0].primary_exercises %>
<%# s_exercises = @muscles.blank? ? [] : @muscles[0].secondary_exercises %>
<%# a_exercises = @muscles.blank? ? [] : @muscles[0].antagonist_exercises %>

<%if @exercises%>
    <div >
      <% @exercises.each do |s| %>
          <div>

          <span class="exercises_text" onclick="selected_exercise('<%=s.name%>');" onmouseover="this.style.cursor='pointer';" title="<%= s.name %> anzeigen">
            <%= s.name %>

            <%#= link_to("show", :url=>{:controller=>"main", :action=>"show_exercise", :exercise=>s.id}, :remote=>true) %>
          </span>



            <%= link_to(image_tag("icons/add.png"),{:controller=>"trainingsplans", :action=>"load_trainingsplans", :exercise=>s.id, :title => "Zum Trainingsplan hinzufügen"}, {:remote=>true, :method=>:post} ) %>
          </div>

      <% end %>
    </div>

<% end%>
