<div id="muscle_text_header" class="nice_inner_tab_js_hover"
     onclick="toggleClass(this,'nice_inner_tab_js_hover','nice_inner_tab');">
  Muskeln
</div>

<%= render("main/muscle_text_option") %>


<div id="muscle_text_hover_div">
  <div id="muscle_text_hover">
    <br/>
  </div>
</div>
<br>
<div id="muscle_text_selected_div">
  Ausgewählte Muskel
  <div id="muscle_text_selected">
    <br/>
  </div>
</div>