<div id="muscle_text_option" class="exercise_page">
  <div id="m_primary">
    <h3>primary muscles</h3>
    <% @p_muscles.each do |muscle| %>
      <div class="muscle_text_option" onmouseover="hover('<%=muscle.name%>');">
        <%= link_to(muscle.name, {:controller => "main", :action => "muscle", :name => muscle.name, :title => "#{muscle.name} auswählen"}, {:remote => true, :method => :post}) %>
      </div>
    <% end %>
  </div>
  <div id="m_secondary">
    <h3>secondary muscles</h3>
    <% @s_muscles.each do |muscle| %>
      <div class="muscle_text_option" onmouseover="hover('<%=muscle.name%>');">
        <%= link_to(muscle.name, {:controller => "main", :action => "muscle", :name => muscle.name, :title => "#{muscle.name} auswählen"}, {:remote => true, :method => :post}) %>
      </div>
    <% end %>
  </div>
  <!--div id="m_antagonistic">
    <h3>antagonistic muscles</h3>
    <%# @a_muscles.each do |muscle| %>
      <div class="muscle_text_option" onmouseover="hover('<%#=muscle.name%>');">
        <%#= link_to(muscle.name, {:controller => "main", :action => "muscle", :name => muscle.name, :title => "#{muscle.name} auswählen"}, {:remote => true, :method => :post}) %>
      </div>
    <%# end %>
  </div-->
</div>
