<h1>Bearbeiten Exercise To Trainingsplan</h1>

<%= render "form", exercise_to_trainingsplan: @exercise_to_trainingsplan %>

<%= link_to t('view'), @exercise_to_trainingsplan %> |
<%= link_to t('back'), exercise_to_trainingsplans_path %>
