<h1>Bearbeitening Exercise To Trainingsplan</h1>

<%= render "form", exercise_to_trainingsplan: @exercise_to_trainingsplan %>

<%= link_to "Ansehen", @exercise_to_trainingsplan %> |
<%= link_to "Zurück", exercise_to_trainingsplans_path %>
