
  <strong>Deine Übungen:</strong>

  <table>
  <% @exercises.each do |exercise| %>
<%@exercise = exercise %>
  <tr>
    <td><%= exercise.name %>
      <div id="users_exercise_video" >
        <%= render :partial => "users/video" %>
      </div></td>


    <td><%= link_to "Show", exercise %> |
      <%= link_to "Edit", edit_exercise_path(exercise) %> |
      <%#= link_to "Destroy", exercise, method: :delete, data: { confirm: "Are you sure?" } %>
    </td>
  </tr>
  <% end %>
  </table>

