
  <strong>Deine Traingspläne:</strong>

  <table>
  <% @trainingsplans.each do |trainingsplan| %>

  <tr>
    <td><%= trainingsplan.name %></td>
    <td><%= link_to "Show", trainingsplan %> |
      <%= link_to "Edit", edit_trainingsplan_path(trainingsplan) %> |
      <%= link_to "Destroy", trainingsplan, method: :delete, data: { confirm: "Are you sure?" } %>
    </td>
  </tr>
  <% end %>
  </table>

