<h1>New Exercise</h1>


<%= form_tag("/users/save_exercise", :id => "exercise_form", method: "post", remote: true) do %>
  <div class="field">
    Name
    <%= text_field :exercise, :name %>
  </div>
  <%= submit_tag %>
<% end %>
<br>
<div id="exercise_list">

  <%= render "users/exerciselist" %>
</div>