<p>
  <% if @user == @current_user %>
    <strong>Email:</strong>
    <%= @user.email %>
  <% end %>
  <strong>Username</strong>
  <%= @user.username %>

</p>


<%= follow_button @user if @user != @current_user %>
<%= link_to t('edit'), edit_user_path(@user) if @user == @current_user %>
<%#= link_to t('back'), users_path %>
