<h1>New Trainingsplan</h1>


<%= form_tag('/users/save_trainingsplan', :id => "trainingsplan_form", method: 'post', remote: true) do %>
  <div class="field">
    Name
    <%= text_field :trainingsplan, :name %>
  </div>
  <%= submit_tag %>
<% end %>
<br>
<div id="trainingsplan_list">

  <%= render "users/trainingsplanlist" %>
</div>