<h1>Neuer Trainingsplan</h1>


<%#= form_tag(user_save_trainingsplan_url, :id => "trainingsplan_form", method: "post", remote: true) do %>
<%= form_with(url: user_save_trainingsplan_url, :id => "trainingsplan_form", method: "post", remote: true) do %>
  <div class="field">
    Name
    <%= text_field :trainingsplan, :name %>
  </div>
  <%= submit_tag "Erstellen"%>
<% end %>
<br>
<strong>Deine Traingspläne:</strong>
<div id="trainingsplan_list">

  <%= render "users/trainingsplanlist" %>
</div>