<h1>Create Workout</h1>


<%#= form_tag(user_save_trainingsplan_url, :id => "trainingsplan_form", method: "post", remote: true) do %>
<%= form_with(url: user_save_trainingsplan_url, :id => "trainingsplan_form", method: "post", remote: true) do %>
  <div class="field">
    Workout Name
    <%= text_field :trainingsplan, :name %>
  </div>
  <%= submit_tag "create new workout" %>
<% end %>

<strong>Your Workouts</strong>
<div id="trainingsplan_list" class="grid_parent">

  <%= render "users/trainingsplanlist" %>
</div>