
<p>
  <strong>User:</strong>
  <%= @user_to_exercise.user_id %>
</p>

<p>
  <strong>Excercise:</strong>
  <%= @user_to_exercise.exercise_id %>
</p>

<%= link_to t('edit'), edit_user_to_exercise_path(@user_to_exercise) %> |
<%= link_to t('back'), user_to_exercises_path %>
