/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */

@import "scaffold.css";
@import "material_button.css";

:root {
    --red-color: #ff0000;
    --dark-red-color: #bd4444;
    --dark-magenta-color: #b31e4f;
    --blue-color: #64c6ef;
    --dark-blue-color: #1eafec;
    --yellow-color: #cbc351;
    --dark-yellow-color: #d6d136;
    --light-green-color: #b0eae0;
    --green-color: #2cab85;
    --dark-green-color: #17a077;
    --orange-color: #C85112;
}

.dark_magenta_background {
    background: var(--dark-magenta-color);
}

.dark_red_background {
    background: var(--dark-red-color) !important;
}

input {
    font-size: 1rem;
}

div#login *, div#signup *, div#forgot_pw *, div#reset_pw * {
    font-size: 2rem;
}

.horizontal .blue_background input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
}

.vertical .blue_background input[type="submit"] {
    position: absolute;
    right: 0;
    top: -3px;
    font-size: 3rem;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, Sans serif;
    font-size: 1rem !important;
    position: absolute;
    background-color: #ffffff;
    width: 99%;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;
    color: white !important;
}


.nav {
    position: relative;
    /*background: var(--dark-green-color);*/
}

img {
    border: none;
}

#muscle_text {
    left: 282px;
    position: relative;
    width: 500px;
}

.horizontal #muscle_text_hover_div {
    position: absolute;
    width: 300px;
    top: -10px;
    text-align: center;
    left: 160px;
}

.vertical #muscle_text_hover_div {
    position: absolute;
    width: 300px;
    top: -10px;
    text-align: center;
    left: 337px;
}

#exercises_muscle_text_hover_div {
    width: 275px;
    position: absolute;
    top: 540px;
    left: 130px;
}

.exercise_content {
    width: 1000px;
    height: 300px;
    position: relative;
    top: 527px;
}

.user_exercise {
    position: relative;
    height: 27rem;
    width: 40rem;
    padding: 1rem;
    border: 1px solid #373131;
    box-sizing: border-box;
    margin: 1rem;
    float: left;
}

.user_exercise_muscles {
    height: 300px;
    left: 0;
    position: absolute;
}

.user_exercise_muscleman {
    position: absolute;
    top: 3rem;
    left: 0;
}

.user_exercise_muscle_pics {
    position: relative;
    top: 2rem;
    left: 0;
}

#body_part_text_selected_div {
    visibility: hidden;
    left: 675px;
    position: absolute;
    width: 300px;
    top: 5px;
    text-align: center;
}

#muscle_text_selected_div {
    position: absolute;
    width: 12rem;
    top: 42rem;
    text-align: center;
    left: 15rem;
    height: 1rem;
}

#muscle_text_selected {
    border: 1px solid var(--yellow-color);

}

#exercise_text_selected_div {
    visibility: hidden;
    position: absolute;
    width: 300px;
    top: -37px;
}

#muscle_text_hover {
    border: 1px solid var(--green-color);
    height: 1rem;
    color: white !important;
}

#body_part_text_selected {
    border: 1px solid var(--yellow-color);
    height: 1rem;

}

#trainingsplan_text_selected {
    height: 1rem;

}

#trainingsplan_view_exercise {
    background: var(--dark-blue-color);

}

#exercise_text_selected {
    border: 1px solid var(--red-color);

}

a {
    text-decoration: none;
}

h3 {
    padding-top: 0 !important;
    margin-bottom: 5px;
    border-bottom: 1px solid #7d5c5c;
    color: var(--red-color);
    font-size: 12px;
}

select {
    border-radius: 0;
}

.horizontal .multi_pic, .horizontal #hover {
    left: 2rem;
    position: absolute;
    top: 1rem;
    transform: scale(1);
}

.vertical .multi_pic, .vertical #hover {
    left: 250px;
    position: absolute;
    top: 250px;
    transform: scale(2);
}

.trainingsplan_exercise_multi_pic_base {
    left: 10px;
    position: absolute;
    top: 10px;

}

.trainingsplan_exercise_multi_pic_exercise {
    top: 20px;
    left: -305px;
    position: absolute;
}

.horizontal div#trainingsplan_edit_exercise {
    background: var(--dark-blue-color);
    max-width: 100%;
}

.vertical div#trainingsplan_edit_exercise {
    background: var(--dark-blue-color);
    padding-top: 1rem;
}


.horizontal select {
    font-size: 18px !important;
    position: relative;
    width: 403px;
}

.vertical select {
    font-size: 2rem !important;
    position: relative;
    top: 0;
}

.multi_pic3, #selected_exercise #hover {
    left: 70px;
    position: absolute;
    top: 80px;
}

.multi_pic2 {
    position: absolute;
    top: 0;
    left: 0;
}

.multi_pic_mini2 {
    width: 200px;
}

input {
    border-radius: 0;
}

div#small_links * {
    font-size: 1rem !important;
}

input[type="checkbox" i] {
    cursor: pointer;
}

.user_text_horizontal {
    font-size: 1rem;
    height: 358px;
    overflow: hidden auto;
}

.user_text_vertical {
    position: relative;
    font-size: 2rem;
    width: 100%;
    height: 510px;
    overflow: hidden auto;
    /* float: left; */
}

#user_selected {
    position: relative;

}

.text {
    position: absolute;
    width: 1000px;
    top: 650px;
    left: 250px;
}

#exercise {
    /*width: 700px;*/
    /*float: left;*/
    /*top: -40px;*/
}

#exercises {
    /*width: 300px;*/
    /*position: relative;
    top: 0;
    float: left;
    left: 0;
    padding-right: 20px;*/
}

div#exercise_edit {
    position: relative;
    top: 50px;
}

#trainings_exercises {
    height: 100px;
    position: relative;
    top: 410px;
    z-index: 9;
    left: 1450px;
    width: 380px;
}

#trainingsplans_muscles {
    min-height: 6px;
    position: absolute;
    top: 0;
    /* left: 780px; */
    width: 315px;
    max-height: 640px;
    overflow: auto;
}

#exercises_muscles {
    min-height: 6px;
    position: absolute;
    top: 70px;
    left: 500px;
    width: 250px;
    height: 425px;
    overflow: auto;
}

#selected_exercises_muscles {
    min-height: 6px;
    position: absolute;
    top: 70px;
    left: 0;
    width: 296px;
    height: 425px;
    overflow: auto;
}

#muscles {
    width: 50%;
    max-height: 640px;
    overflow: hidden auto;
    float: left;
    position: absolute;
    top: 150px;
    left: 45%;
}

textarea {
    width: 230px;
    height: 60px;
}

table {
    width: 100%;
}

#outer_container {
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 725px;
    position: relative;
    width: 100%;
}

.grid_child_horizontal .exercises_text_div {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #0000001f;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    font-size: 1rem;
    position: relative;
}

.grid_child_vertical .exercises_text_div {
    /*box-sizing: border-box;*/
    width: 100%;
    border-bottom: 1px solid #0000001f;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    font-size: 2rem;
    position: relative;

}

#container {
    margin: 0 auto;
    min-height: 700px;
    position: relative;
    max-width: 100%;

}

#user_trainingsplans_container {
    margin: 0 auto;
    min-height: 700px;
    position: relative;
    top: 15px;
    min-width: 1300px;
    max-width: 100%;
}

#notice {
    border: 1px solid #ff5656;
    width: 550px;
}

#ex {
    position: relative;
}

#ex_title {
    font-size: smaller;
}

#x_title {
    /*border: 1px solid var(--red-color);*/
    border-bottom: 1px solid #000000;

}

#x_how_not_to {
    padding: 1px 20px 20px;
    box-shadow: 8px 10px 26px var(--red-color) inset;
}

.open_exercise {
    background-color: var(--red-color);
    /*border: 1px solid #FFFFFF;*/
    float: right;
    height: 200px;
    overflow: hidden;
    position: relative;
    right: -119px;
    text-align: center;
    top: 225px;
    width: 20px;
    z-index: 9;
}

.close_exercise {
    background-color: var(--red-color);
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    float: right;
    height: 200px;
    position: relative;
    right: -98px;
    top: 125px;
    width: 20px;
    box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.4) inset;
    z-index: 9;
}

.open_training {
    overflow: hidden;
    position: relative;
    left: 0;
    width: 190px;
    z-index: 9;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

#trainingsplans_show_view .open_training {
    background-color: var(--blue-color);
    color: #fff;
    height: 20px;
    overflow: hidden;
    position: absolute;
    left: 190px;
    top: -45px;
    width: 190px;
    z-index: 9;
    text-align: center;
}

.show_exercise {
    position: relative;
    height: 30rem;
}


.hidden_muscle_pic {
    display: none;
}

#donation {
    position: fixed;
    bottom: 0;
    left: 0;
}

.box {
    position: absolute;
    top: 620px;
    width: 1024px;

}

ul {
    bottom: 15px;
    list-style: none outside none;
    margin: 0;
    padding: 10px;
    position: relative;
}

li {

    float: left;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.grey {
    color: #cccccc;

}

#user_training {
    position: absolute;
    right: 200px;
    top: 0;
}

#training_text {
    font-size: xx-large;
}

#login_box {
    float: right;
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

#muscle_selected {
    opacity: 1 !important;
}

.muscle_text_option {
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #0000001f;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

#body_area area {
    cursor: pointer;
}

#exercise_selected {
    left: 0;
    position: absolute;
    top: 0;
}

#muscle_selected {
    left: 0;
    position: absolute;
    top: 0;
}


* {
    word-wrap: break-word;
}

.red_glow {
    text-shadow: 0 0 24px var(--red-color), 0 0 4px var(--red-color), 1px 1px 2px #333;
}

.green_glow {
    text-shadow: 0 0 24px var(--green-color), 0 0 4px var(--green-color), 1px 1px 2px #333;
}

.red_shadow {
    text-shadow: 0 3px 11px var(--red-color);
}

.green_shadow {
    text-shadow: 0 3px 11px var(--green-color);
}

.blue_shadow {
    text-shadow: 0 3px 11px var(--blue-color);
}

.red_glow_for_same_color_text {
    text-shadow: 0 0 11px var(--red-color);
}

div {
}


a:link, a:visited {
}

/*a:hover, a:active {*/
/*    color: white !important;*/
/*    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;*/
/*    text-decoration: none;*/
/*}*/


body, p, ol, ul, td {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
    font-size: 1rem;
    line-height: 1rem;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}


#navilinks a {
    margin-right: 15px;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;
    color: var(--yellow-color) !important;
}

.grid_parent * {
    text-shadow: none !important;
    color: black !important;
}

.grid_parent a {
}

.small_screen .exercise_tags, .small_screen .muscle_text_option {
    font-size: 1.2rem;
    margin: 0.4rem;

}


#user_videos a, #user_exercises a {
    margin-right: 15px;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;
    color: var(--yellow-color) !important;
}

#user_videos a:hover, #user_exercises a:hover {
    margin-right: 15px;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;
    color: white !important;
}

a:hover {
}

a:visited {

}

#navilinks a:hover {
    margin-right: 15px;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;
    color: white !important;
}

#navilinks a:visited {
}

#navilinks {
    font-size: 1rem;
    padding-bottom: 10px;
    border-bottom: 1px solid antiquewhite;
}


.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}

#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px 7px 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.show_training {
    min-width: 350px;
   /* min-height: 898px;*/
    border: 1px solid rgba(58, 58, 58, 0.6);
}

#trainingsplans {
    left: 314px;
    position: absolute;
    top: -11px;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 1rem;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 1rem;
    list-style: square;
}


div#trainings_exercises_text {
    background: rgba(58, 58, 58, 0.2);
    padding: 10px;
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid antiquewhite;
}

.remove_exercise {
    position: absolute;
    top: -10px;
    left: 8px;
    color: var(--red-color);
}

.move_exercise_up {
    position: absolute;
    top: 10px;
    left: 305px;
    color: var(--yellow-color);
}

.move_exercise_down {
    position: absolute;
    top: 60px;
    left: 305px;
    color: var(--yellow-color);
}

div.trainingsplans_exercises_text {
    display: inline-block;
    /*    text-align: center;*/
    padding: 14px;
    text-decoration: none;
}

div.trainingsplans_exercises_text {
    height: 100px;
    width: 310px;
    position: relative;
    font-weight: bold;
    white-space: normal;
    border: 1px solid black;
}

div.trainingsplans_exercises_text.active_exercise {
    height: 60px;
    position: relative;

    font-weight: bold;
    border: 2px solid var(--red-color);
}

.trainingsplan_item * {
    color: white !important;
}
.trainingsplan_item {
    width: 740px;
    float: left;
    border: 2px solid #5f5c5c;
    box-sizing: border-box;
    position: relative;
    margin: 10px;
    flex: 1 1 620px;
    padding: 10px;

}

.exercise_selection_link {
    position: absolute;
    width: 290px;
    height: 45px;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    padding: 25px;
}

input {
}

#trainingsplans_exercise_video_show {
    position: absolute;

}

#exercise_video_show {
    position: absolute;
    left: 840px;
}

#exercise_video_show {
    position: absolute;
    left: 1060px;
}

#rep_sec_pause {
    position: absolute;
    bottom: -35px;
    width: 100%;
}

#reps, #duration, #pause {
    width: 100%;
}

#exercises_show {
    position: relative;
    height: 25rem;
}

#exercises_show video {
    width: 100%;
    max-height: 385px;
    background: rgba(58, 58, 58, 0.2);
    border: 1px solid rgba(58, 58, 58, 0.6);
}

#open_training,
#trainingsplan_id,
#trainingsplan_trainingsplan_id,
.show_training input {
    cursor: pointer;
}

#start_exercise {
    position: absolute;
    top: -15px;
    float: left;
    cursor: pointer;
    display: block;
}

#pause_exercise {
    float: left;
    cursor: pointer;
    display: none;
    position: absolute;
    top: -15px;
}

#exercise_video_show video, #trainingsplans_exercise_video_show video, #trainingsplans_exercise_video_show #ytplayer {
    height: 720px !important;
    width: 1280px !important;
}

.mainborder {

    display: table;
    width: 900px;
    border: 1px solid var(--green-color);;
    padding: 30px;
    margin: 40px;
}

/*.vertical .material-icons {*/
/*    top: 1px !important;*/
/*    position: relative !important;*/
/*    font-size: 2rem !important;*/
/*}*/

.horizontal .material-icons {
    position: relative !important;
    font-size: 1rem !important;
}

.vertical div#trainingsplan_edit_exercise input[type=text] {
    width: 30px;
    height: 2rem;
    top: 0;
    color: white !important;
}

.horizontal div#trainingsplan_edit_exercise input[type=text] {
    width: 30px;
    height: 18px;
    color: white !important;
}

.vertical .exercise_border_red {
    border: var(--red-color) 1px solid;
    padding: 0.5rem;
    position: relative;
    height: 17rem;
    margin-top: 5px;
    text-align: left;
}


.horizontal .exercise_border_red {
    border: var(--red-color) 1px solid;
    padding: 0.1rem;
    position: relative;
    height: 12rem;
    margin-top: 5px;
    text-align: left;
}

.exercise_border_blue {
    /*border: var(--blue-color) 1px solid !important;*/
    border-bottom: 1px solid #000000;

    position: relative;
}

.exercise_border_red video {
    width: 300px;
    overflow: hidden;
    position: relative;
    height: 168px;
}

.vertical .videos_folder {
    position: absolute;
    width: 50%;
    height: 10rem;
    color: white !important;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    display: grid;
    border: 1px solid black;
    background: #434343;
    margin: 8px;
}

.horizontal .videos_folder {
    position: absolute;
    width: 300px;
    height: 168px;
    color: white !important;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    display: grid;
    border: 1px solid black;
    background: #434343;
    margin: 8px;
}

#edit_video_view .videos_folder {
    position: relative !important;
    width: 264px !important;
    height: 200px !important;
    box-sizing: border-box !important;
}

#exercise .videos_folder {
    position: absolute;
    width: 43%;
    height: 105px;
    box-sizing: border-box;
    text-align: left;
}

.user_exercise .videos_folder {
    position: absolute;
    left: 23rem;
    height: 105px;
    box-sizing: border-box;
    top: 2rem;
}

#user_videos .videos_folder  video{
    width:300px !important;
    height: 168px !important;
}

.trainingsplan_name {
    color: var(--blue-color);
    font-size: 1rem;
}

.exercise_info {
    position: absolute;
    top: 20rem;
    left: 25rem;
}

.exercise_name {
    color: white;
    font-size: 1rem;
    padding: 5px;
    width: 150px;
}

#exercises_text_header {
    /*border: 1px solid var(--yellow-color);*/
    border-bottom: 1px solid #000000;
}

#muscle_text_header {
    /*border: 1px solid var(--red-color);*/
    display: none;
    border-bottom: 1px solid #000000;

}

meter {
    height: 50px;
}

#play_div meter::-webkit-meter-optimum-value {
    background: #2cab85;
}

#pause_div meter::-webkit-meter-optimum-value {
    background: var(--red-color);
}

#trainingsplan_muscle_images_field {
    transform: scale(0.85);
    left: 1450px;
}

#trainingsplan_selection_area {
    left: 1450px;
    top: 30px;
    position: absolute;
    z-index: 9999;
}

#body_tag {
    box-sizing: border-box;
}


td {
    position: relative;
}


.exercise_border_red div.main_exercises_text {
}

.horizontal .main_exercises_text {
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
}

.vertical .main_exercises_text {
    width: 40rem;
    box-sizing: border-box;
}

#exercise_list {
    position: relative;
    z-index: 99999;

}

.vertical .exercise_list_rep {
    position: relative;
    left: 50%;
    margin-left: 1rem;
    width: 40%;
    height: 2rem;
    padding: 0.5rem;
}

.vertical .exercise_list_duration {
    position: relative;
    left: 50%;
    margin-left: 1rem;
    width: 40%;
    height: 2rem;
    padding: 0.5rem;
}

.vertical .exercise_list_pause {
    position: relative;
    left: 50%;
    margin-left: 1rem;
    width: 40%;
    height: 2rem;
    padding: 0.5rem;
}

.horizontal .exercise_list_rep {
    position: relative;
    left: 320px;
    margin-left: 2rem;
    width: 9rem;
    height: 1.5rem;
    padding: 5px;
}

.horizontal .exercise_list_duration {
    position: relative;
    left: 320px;
    margin-left: 2rem;
    width: 9rem;
    height: 1.5rem;
    padding: 5px;
}

.horizontal .exercise_list_pause {
    position: relative;
    left: 320px;
    margin-left: 2rem;
    width: 9rem;
    height: 1.5rem;
    padding: 5px;
}

.exercise_list_select {
    top: 70px;
    position: relative;
    left: 0;
}

input#trainingsplan_name {
    width: 150px;
    position: relative;
}

.add_to_playlist {
    float: right;
    top: 5px;
    position: relative;
}

.vertical div#multi_pic_container {
    top: 60px;
    left: 0;
    position: relative;
    height: 1000px;

}

.horizontal div#multi_pic_container {
    top: 0;
    left: 0;
    position: relative;
    min-height: 900px;
}

#m_primary, #m_secondary, #m_antagonistic {
    float: left;
    width: 33%;
}


.grid_parent {
    display: flex;
    flex-wrap: wrap;
}

.trainingsplan_grid {
    flex: 1 1 220px;
    text-align: center;
}

.exercises_grid {
    flex: 0 1 14rem;
    text-align: center;
    width: 10rem;
}

.grid_child_horizontal {
    /*flex: 1 1 170px;*/
    /*text-align: center;*/
}

.yellow_background {
    background: var(--dark-yellow-color);
    overflow: hidden;
    height: 400px;
}

.green_background {
    background: var(--dark-green-color);
    height: 400px;
}

.red_background {
    background: var(--dark-red-color);
height: 400px;
    position: relative;
}

.blue_background {
    background: var(--dark-blue-color);
    height: 400px;
}

.vertical .grid_child_multi_pic {
    flex: 1 1 400px;
    text-align: center;
    position: relative;
    left: 0;
}
.horizontal .grid_child_multi_pic {
    flex: 1 1 400px;

    text-align: center;
    position: absolute;
    left: -30px;
}

.grid_child3 {
    /* flex: none | [ < 'flex-grow' > < 'flex-shrink' > ? | | < 'flex-basis' > ]
    // If we don 't want the items to stretch: */
    flex: 1 1 300px;
    /* If we do want the items to stretch:*/


    /* etc . border: 1 px solid red;*/
    /*background: #b6ddff;*/
    /*font-size: 2rem;*/
    text-align: center;
}


.small_links a {
    color: var(--yellow-color);
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;
}

#signup, #login, #forgot_pw, #reset_pw {
    color: var(--red-color);
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;
}

#signup table, #login table, #forgot_pw table, #reset_pw table {
    color: var(--green-color);
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;
}


.table_container {
    border: 1px solid black;
    width: 50rem;
    padding: 20px;
}


input[type="text"], input[type="password"] {
    background: #565656;
    color: var(--green-color);
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;
    border-radius: 30px;
    padding-left: 30px;
}

#signup input[type="submit"], #login input[type="submit"], #forgot_pw input[type="submit"], #reset_pw input[type="submit"] {
    background: var(--blue-color);
    /*text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;*/
}

/* end of login signup */

iframe {

    min-width: 24%;
    /* max-width: 100%; */
    height: 345px;
    /* max-height: 100%;*/
}

.vertical #search_field_magnify {
    font-size: 5rem !important;
    top: 0 !important;
}

.horizontal #search_field_magnify {
    font-size: 2rem !important;
    top: 0 !important;
}

.vertical #search_filter_down {
    font-size: 5rem !important;
    position: absolute !important;
    right: 0;
    top: 0 !important;
    cursor: pointer;
}

.horizontal #search_filter_down {
    font-size: 2rem !important;
    position: absolute !important;
    right: 0;
    top: 0 !important;
    cursor: pointer;
}

.vertical #search_filter_up {
    font-size: 5rem !important;
    position: absolute !important;
    right: 0;
    top: 0 !important;
    display: none;
    cursor: pointer;
}

.horizontal #search_filter_up {
    font-size: 2rem !important;
    position: absolute !important;
    right: 0;
    top: 0 !important;
    display: none;
    cursor: pointer;
}

.horizontal #trainingsplan_down, .horizontal #exercises_down, .horizontal #exercise_down {
    font-size: 3rem !important;
    position: absolute !important;
    right: 0;
    top: 0 !important;
    cursor: pointer;
}

.vertical #trainingsplan_down, .vertical #exercises_down, .vertical #exercise_down {
    font-size: 5rem !important;
    position: absolute !important;
    right: 0;
    top: 0 !important;
    cursor: pointer;
}

.horizontal #trainingsplan_up, .horizontal #exercises_up, .horizontal #exercise_up {
    font-size: 3rem !important;
    position: absolute !important;
    right: 0;
    top: 0 !important;
    display: none;
    cursor: pointer;
}

.vertical #trainingsplan_up, .vertical #exercises_up, .vertical #exercise_up {
    font-size: 5rem !important;
    position: absolute !important;
    right: 0;
    top: 0 !important;
    display: none;
    cursor: pointer;
}

.vertical .nice_inner_tab_js_hover {
    height: 3rem !important;
    font-size: 2rem;

}

.horizontal .nice_inner_tab_js_hover {
    height: 1rem !important;
    font-size: 1rem;

}
.vertical #search_form{
    height: 430px;
    overflow: scroll;
    background: #208b6b;
}

.horizontal #search_form{

}

.vertical #search_filter {
    /*height: 590px;*/
    overflow: hidden;
    /*margin: 0 1rem 1rem 1rem;*/
    width: 100%;
}
.horizontal #search_filter {
    height: 488px;
    overflow: hidden;
    /*margin: 0 1rem 1rem 1rem;*/
    width: 1320px;
    padding-left: 500px;
}

.grid_child_vertical {
    flex: 1 1 697px;
    height: 25rem;
    /* background: lightpink; */
    /* font-size: 2rem; */
    text-align: center;
    position: relative;
}

.blue_background.trainingsplan_grid.grid_child_vertical {
    height: 5rem;
    overflow: hidden;
    font-size: 4rem;
}

.exercise_grid {
    overflow: hidden;
}

.vertical #name {
    position: absolute;
    font-size: 3rem;
    top: 0.6rem;
    left: 5rem;
}

.horizontal #name {
    position: relative;
    font-size: 1rem;
    top: 0.3rem;
    left: 3rem;
}

.video_name {
    width: 100%;
    position: absolute;
    /*top: 220px;*/
    left: 0;
    text-align: left;
}

.vertical #trainingsplan_id {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem !important;
    height: 5rem;
    border-radius: 0;
    z-index: 99;
    width: 280px;
}

.horizontal #trainingsplan_id {
    position: absolute;
    top: 0;
    left: 0;
    width: 174px;
    height: 2rem;
    border-radius: 0;
    z-index: 99;
}

.vertical .grid_child3.red_background.exercise_grid {
    height: 26rem;
}

.horizontal .grid_child3.red_background.exercise_grid {

}

.horizontal #workout_name {

}

#workout_name {
    text-align: left;
}

.horizontal .beta {
    position: absolute;
    width: 6rem;
    top: 1rem;
    left: 11rem;
}

.vertical .beta {
    position: absolute;
    width: 230px;
    top: 20px;
    left: 375px;
}

label {
    cursor: pointer;
}

.horizontal label {
    font-size: 1rem;
}

.vertical label {
    font-size: 2rem;
    vertical-align: middle;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

.vertical input[type="checkbox" i] {
    height: 1rem;
    width: 1rem;
}

.vertical input[type="checkbox" i] {
    height: 3rem;
    width: 1rem;
    left: 17px;
    position: relative;
    font-size: 1px;
    vertical-align: middle;
    margin: 0 15px 0 10px
}

.horizontal .grid_child_multi_pic .user_tag_list {
    position: absolute;
    top: 284px;
    left: 177px;
    transform: scale(0.7);
    width: 200px;
}

.horizontal .red_background .user_tag_list {
    position: relative;
    top: -1rem;
    left: -1rem;
    transform: scale(0.7);
    width: 200px;
    color: black;

}

.vertical .grid_child_multi_pic .user_tag_list {
    position: absolute;
    top: 570px;
    left: 335px;
    transform: scale(0.9);
    width: 320px;
}

.vertical .red_background .user_tag_list {
    position: relative;
    transform: scale(0.9);
    color: black;
}

.vertical.small_screen #best_experience {
    background: red;
    color: yellow;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 999;
    top: 0;
    height: 30px;
    font-size: 29px;
}

.horizontal.small_screen #best_experience {
    background: red;
    color: yellow;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 999;
    top: 0;
    height: 30px;
    font-size: 29px;
}

.big_screen #best_experience {
    display: none;
}

.user_tag_list {
    color: white !important;
}

.horizontal .category-select {
    float: left;
    width: 188px;
    height: 44px;
}

.vertical .category-select {
    float: left;
    width: 50%;
}
.vertical .tag_name{
    position: absolute;
    top: 15px;
    left: 90px;
    text-align: left;
    line-height: 1;
}

.horizontal .tag_name{
    position: relative;
    top: -20px;
    left: 25px;
    width:135px;
}

.horizontal .exercise_text_multi_pic {
    transform: scale(0.2);
    position: absolute;
    left: 10px;
    top: 35px;
}

.vertical .exercise_text_multi_pic {
    transform: scale(0.2);
    position: absolute;
    left: 10px;
    top: 0;
}

.vertical .search_instructions{
    font-size: 2rem;
    text-align: left;
    position: relative;
    line-height: 2rem;
    margin: 1rem 10rem;background: coral;
}
.horizontal .search_instructions{
    font-size: 1rem;
    text-align: left;
    position: relative;
    line-height: 2rem;
    margin: 15px;
    background: coral;
}
/*buttons*/
.btn {
    position: relative;

    display: block;
    margin: 30px auto;
    padding: 0;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    background-color: #2ecc71;
    color: #ecf0f1;

    transition: background-color .3s;
}

/*buttons end*/

.vertical_icon {
    top: 6px !important;
    position: absolute !important;
    font-size: 4rem !important;
    color: var(--blue-color) !important;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;
}

.vertical .start_workout{
    position: absolute;
    padding: 2rem;
    top: -30px;
    right: 100px;
}

.horizontal .start_workout{
    position: absolute;
    padding: 10px;
    top: -29px;
    right: 2px;
}
.horizontal .edit_workout{
    position: absolute;
    padding: 10px;
    background: coral;
    left: 176px;
}
.vertical .edit_workout{
    position: absolute;
    padding: 29px;
    background: coral;
    left: 285px;
    height: 2rem;
    top: 0;
}

#mouse_cursor{

    transition: all 0.5s ease-out;
    position: fixed !important;
    top: 50% ;
    left: 12%;
    z-index: 9999999;

}