/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */
@import "themes.css";
@import "scaffold.css";

body {

}

.nav {
    position: relative;
    padding: 10px;
}

img {
    border: none;
}

#muscle_text {
    left: 282px;
    position: relative;
    width: 500px;
}

#muscle_text_hover_div {
    position: absolute;
    width: 275px;
}
.exercise_content{
    width: 1000px;
    height: 300px;
    position: relative;
    top: 527px;
    left: -220px;
}
#body_part_text_selected_div {
    left: 675px;
    position: absolute;
    width: 228px;
    top: 5px;
    text-align: center;
}

#muscle_text_selected_div {
    position: absolute;

    width: 230px;
}

#exercise_text_selected_div {

    position: absolute;

    width: 230px;
}

#muscle_text_hover {
    background-color: rgba(153, 153, 255, 0.5);
}

#body_part_text_selected {
    background-color: rgba(255, 255, 104, 0.5);

}

#muscle_text_selected {
    background-color: rgba(153, 255, 153, 0.5);

}

#exercise_text_selected {
    background-color: rgba(255, 153, 153, 0.5);

}

a {

    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #0066ff;
    text-decoration: none;
}

a:active {
    color: #fbd302;
}

.bild1 {
    position: fixed;
    top: 120px;
    left: 900px;

}

.bild2 {
    position: fixed;
    top: 120px;
    left: 40px;
}
h3{
    padding-top: 0 !important;
    margin-bottom: 5px;
    border-bottom: 1px solid #7d5c5c;
    color: #3a3d4a;
    font-size: 15px;
}

.multi_pic, #hover {
    left: 335px;
    position: absolute;
    top: 10px;
}

.multi_pic3, #selected_exercise #hover {
    left: 70px;
    position: absolute;
    top: 80px;
}

.multi_pic_mini {
    width:200px;
}

.multi_pic2 {
    position: absolute;
    top: 0;
    left: 0;
}

.multi_pic4 {
    position: absolute;
     top: 30px;
     left: -15px;
}

.multi_pic_mini2 {
    width:200px;
}

.user_text {
    top: 500px;
    position: relative;
    /*padding-bottom: 500px;*/
}

#user_selected {
    margin: 50px;
    position: relative;

}

.text {
    position: absolute;
    width: 1000px;
    top: 650px;
    left: 250px;
}

#exercises {
    left: 20px;
    min-height: 6px;
    max-height: 620px;
    position: relative;
    top: 0;
    width: 300px;
}

div#exercise_edit {
    position: relative;
    top: 50px;
}

#trainings_exercises {
    height: 100px;
    position: relative;
    top: 500px;
    z-index: 9;
}

#trainingsplans_muscles {
    min-height: 6px;
    position: absolute;
    top: 0;
    /* left: 780px; */
    width: 315px;
    max-height: 640px;
    overflow: auto;
}

#exercises_muscles {
    min-height: 6px;
    position: absolute;
    top: 70px;
    left: 785px;
    width: 250px;
    height: 425px;
    overflow: auto;
}

#selected_exercises_muscles {
    min-height: 6px;
    position: absolute;
    top: 70px;
    left: 0;
    width: 296px;
    height: 425px;
    overflow: auto;
}

#muscles {
    min-height: 6px;
    position: absolute;
    top: 0;
    left: 780px;
    width: 315px;
    max-height: 640px;
    overflow: auto;
}

textarea {
    width: 230px;
    height: 60px;
}

table {
    width: 100%;
}

#outer_container {

    margin: 0 auto;
    min-height: 725px;
    position: relative;
    width: 100%;
}

.exercises_text_div{
    box-sizing: border-box;
    width: 260px;
    border-bottom: 1px solid #0000001f;
    height: 53px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}


#container {
    margin: 0 auto;
    /*width: 1300px;*/
    min-height: 700px;
    position: relative;
    top: 15px;
    min-width: 1300px;
    max-width: 100%;
}

#user_trainingsplans_container {
    margin: 0 auto;

    min-height: 700px;
    position: relative;
    top: 15px;
    min-width: 1300px;
    max-width: 100%;
}

#notice {
    border: 1px solid black;
}

#ex {
    /* background-color: #333333;*/

    position: relative;

}

#ex_title {
    font-size: smaller;
}

#x_title {
    font-family: monospace;
    border: 1px solid #FFAAAA;

}

#x_description {
    font-family: monospace;
    position: relative;

    padding: 1px 20px 20px 20px;
    box-shadow: 8px 10px 26px rgba(151, 151, 255, 0.4) inset;
    -moz-box-shadow: 8px 10px 26px rgba(151, 151, 255, 0.4) inset;
    -webkit-box-shadow: 8px 10px 26px rgba(151, 151, 255, 0.4) inset;
}

#x_how_to {
    font-family: monospace;
    padding: 1px 20px 20px 20px;
    box-shadow: 8px 10px 26px rgba(151, 255, 151, 0.4) inset;
    -moz-box-shadow: 8px 10px 26px rgba(151, 255, 151, 0.4) inset;
    -webkit-box-shadow: 8px 10px 26px rgba(151, 255, 151, 0.4) inset;
}

#x_how_not_to {
    font-family: monospace;
    padding: 1px 20px 20px;
    min-height: 100px;
    box-shadow: 8px 10px 26px rgba(255, 151, 151, 0.4) inset;
    -moz-box-shadow: 8px 10px 26px rgba(255, 151, 151, 0.4) inset;
    -webkit-box-shadow: 8px 10px 26px rgba(255, 151, 151, 0.4) inset;
}

#x_info {
    font-family: monospace;
    padding: 1px 20px 20px;
    box-shadow: 8px 10px 26px rgba(151, 151, 0, 0.4) inset;
    -moz-box-shadow: 8px 10px 26px rgba(151, 151, 0, 0.4) inset;
    -webkit-box-shadow: 8px 10px 26px rgba(151, 151, 0, 0.4) inset;
}

#x_exercise_type {

}

.open_exercise {
    background-color: rgba(255, 153, 153, 0.5);
    border: 1px solid #FFFFFF;
    float: right;
    height: 200px;
    overflow: hidden;
    position: relative;
    right: -119px;
    text-align: center;
    top: 225px;
    width: 20px;
    z-index: 9;
}

.close_exercise {
    background-color: rgba(255, 153, 153, 0.8);
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    float: right;
    height: 200px;
    position: relative;
    right: -98px;
    top: 125px;
    width: 20px;
    box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.4) inset;
    z-index: 9;
}

.open_training {
    background-color: rgba(153, 153, 255, 0.5);
    border: 1px solid #FFFFFF;
    height: 20px;
    overflow: hidden;
    position: absolute;
    left: 275px;
    top: -45px;
    width: 190px;
    z-index: 9;
    text-align: center;
}

.close_training {
    background-color: rgba(153, 153, 255, 0.8);
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    float: right;
    height: 200px;
    position: relative;
    right: -118px;
    top: 25px;
    width: 20px;
    box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.4) inset;
    z-index: 9;
}

.show_exercise {
    border: 1px solid #FFFFFF;
    top: 100px;
    left: 1100px;
    position: absolute;
    z-index: 10;
    min-width: 0;
    max-width: 500px;
}

.hidden_exercise {
    height: 0;
    position: absolute;
    left: 1105px;
    width: 0;
    overflow: hidden;
}

.hidden_training {
    height: 0;
    position: absolute;
    left: 1105px;
    width: 0;
    overflow: hidden;
}

.hidden_muscle_pic {
    display: none;
}

#donation {
    position: fixed;
    bottom: 0;
    left: 0;
}

.box {
    position: absolute;
    top: 620px;
    width: 1024px;

}

ul {
    bottom: 15px;
    list-style: none outside none;
    margin: 0;
    padding: 10px;
    position: relative;
}

li {

    float: left;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.grey {
    color: #cccccc;

}

#user_training {
    position: absolute;
    right: 200px;
    top: 0;
}

#training_text {
    font-size: xx-large;

}

#login_box {
    position: absolute;
    right: 200px;

}

.hide {
    display: none !important;
}

.show {
    display: block;
}

#muscle_selected {
    opacity: 1 !important;
}

.muscle_text_option {
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #0000001f;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

#body_area area {
    cursor: pointer;
}

#exercise_selected {
    left: 0;
    position: absolute;
    top: 0;
  /*  z-index: 1;*/
}
#muscle_selected {
    left: 0;
    position: absolute;
    top: 0;
    /*z-index: 1;*/
}


* {
    word-wrap: break-word;
}

.rgb_shadow {
    color: rgb(254, 255, 255);
    text-shadow: 0 6px 4px rgb(51, 51, 255), -5px -3px 4px rgb(255, 0, 0), 5px -3px 4px rgb(0, 255, 0);
}

.fire {

    color: rgb(50, 50, 50);
    text-shadow: 0 -1px 2px rgb(255, 255, 0), 0 -3px 3px rgb(255, 204, 0), 0 -5px 4px rgb(255, 153, 0), -2px -7px 5px rgb(255, 102, 0), 4px -9px 6px rgb(255, 51, 0), -3px -11px 7px rgb(255, 0, 0);
}

.red_glow {
    text-shadow: 0 0 24px #C00, 0 0 4px #C00, 1px 1px 2px #333;
}

.green_glow {
    text-shadow: 0 0 24px #0C0, 0 0 4px #0C0, 1px 1px 2px #333;
}

.yellow_glow {
    text-shadow: 0 0 24px #Cc0, 0 0 4px #cC0, 1px 1px 2px #333;
}

.blue_glow {
    text-shadow: 0 0 24px #00C, 0 0 4px #00C, 1px 1px 2px #333;
}

.red_shadow {
    text-shadow: 0 3px 11px #f00;
}

.green_shadow {
    text-shadow: 0 3px 11px #0f0;
}

.yellow_shadow {
    text-shadow: 0 3px 11px #ff0;
}

.blue_shadow {
    text-shadow: 0 3px 11px #00f;
}

.red_glow_for_same_color_text {
    text-shadow: 0 0 11px #F00;
}

.green_glow_for_same_color_text {
    text-shadow: 0 0 11px #0F0;
}

.yellow_glow_for_same_color_text {
    text-shadow: 0 0 11px #FF0;
}

.blue_glow_for_same_color_text {
    text-shadow: 0 0 11px #00F;
}

div {
  /*  -webkit-border-radius: 8px 8px 7px 7px;

    -moz-border-radius: 8px 8px 7px 7px;
    border-radius: 8px 8px 7px 7px;*/
}

a {
    /* -webkit-border-radius: 5px;
     -khtml-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;*/
}

a:link, a:visited {
    /*  -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;*/

}

a:hover, a:active {
    color: red;
}


body {
    background-color: #fff;
    color: #333;
}

body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 15px;
    line-height: 18px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

#navilinks a {
    color: #fff;
    text-shadow: 1px 1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    -1px -1px 1px black;
}

a {
    color: #000;

}

#navilinks a:visited {
    color: #fff;
}

#navilinks a:hover {
    color: #ff724b;
}

a:hover {
    color: #fff;
    text-shadow: 1px 1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    -1px -1px 1px black;
}

.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}

#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px 7px 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}
.show_training {
    min-height: 664px;
    left: 300px;
    position: absolute;
    top: -70px;
}
#trainingsplans {
    min-height: 664px;
    left: 285px;
    position: absolute;
    top: -40px;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}

span.trainingsplans_exercises_text {
    display: inline-block;
    /*    text-align: center;*/
    padding: 14px;
    text-decoration: none;
}

div#trainings_exercises_text {
    overflow: auto;
    white-space: nowrap;
}

.remove_exercise {
    position: absolute;
    top: -10px;
    left: 8px;
    color: red;
}

.move_exercise_up {
    position: absolute;
    top: 0;
    left: 225px;
    color: #2646e6;
}

.move_exercise_down {
    position: absolute;
    top: 55px;
    left: 225px;
    color: #2646e6;
}

span.trainingsplans_exercises_text {
    height: 60px;
    width: 240px;
    position: relative;
    font-weight: bold;
    white-space: normal;
    border:1px solid black;
}

span.trainingsplans_exercises_text.active_exercise {
    height: 60px;
    position: relative;

    font-weight: bold;
    border: 2px solid red;
}
.trainingsplan_item{
    width: 500px;
    float: left;
    border: 2px solid darkgray;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.exercise_selection_link {
    position: absolute;
    width: 210px;
    height: 45px;
    top: 0px;
    left: 0px;
    text-align: center;
    vertical-align: middle;
    padding: 25px;
}

input {
    /*float: left;*/
}

#users_exercise_video {
    position: absolute;
    left: 900px;
}

#trainingsplans_exercise_video {
    position: absolute;
    left: 900px;
}

#exercise_exercise_video {
    position: absolute;
    left: 1060px;
}

#exercises__exercise_video {
    position: absolute;
    left: 900px;
}

#rep_sec_pause {
    position: absolute;
    left: 900px;
    top: 0;
}

#exercises_show {
    position: relative;
}

#exercises_show video {
    width: 300px;
}

