/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */

@import "scaffold.css";

:root {
    --red-color: #d44b78;
    --dark-red-color: #bd4444;
    --dark-magenta-color: #b31e4f;
    --blue-color: #64c6ef;
    --dark-blue-color: #1eafec;
    --yellow-color: #cbc351;
    --dark-yellow-color: #d6d136;
    --light-green-color: #b0eae0;
    --green-color: #2cab85;
    --dark-green-color: #17a077;
}

input {
    font-size: 1rem;
}

div#login *, div#signup *, div#forgot_pw *, div#reset_pw * {
    font-size: 2rem;
}

input[type="submit"] {
    position: relative;
    left: 75%;
    top: 0;
}

body {
    /*text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;*/
    font-family: 'Open Sans', Helvetica, Arial, Sans serif;
    font-size: 1rem !important;

    position: absolute;
    background-color: #ffffff;
    width: 99%;
    color: #000000 !important;
    /*color: var(--light-green-color) !important;*/
}


.nav {
    position: relative;
    /*padding: 10px;*/
    background: var(--dark-green-color);
}

img {
    border: none;
}

#muscle_text {
    left: 282px;
    position: relative;
    width: 500px;
}

#muscle_text_hover_div {
    position: absolute;
    width: 12rem;
    top: 42rem;
    text-align: center;
    left: 2rem;
}

#exercises_muscle_text_hover_div {
    width: 275px;
    position: absolute;
    top: 540px;
    left: 130px;
}

.exercise_content {
    width: 1000px;
    height: 300px;
    position: relative;
    top: 527px;
    /*left: -220px;*/
}

#users_exercise_muscles {
    transform: scale(0.7);
    height: 300px;
    left: 0;
    position: absolute;
}

.users_exercise_muscle_pic2 {
    position: relative;
    top: 0;
    left: 0;
}

#body_part_text_selected_div {
    visibility: hidden;
    left: 675px;
    position: absolute;
    width: 300px;
    top: 5px;
    text-align: center;
}

#muscle_text_selected_div {
    position: absolute;
    width: 12rem;
    top: 42rem;
    text-align: center;
    left: 15rem;
    height: 1rem;
}
#muscle_text_selected {
    border: 1px solid var(--yellow-color);

}

#exercise_text_selected_div {
    visibility: hidden;
    position: absolute;
    width: 300px;
    top: -37px;
}

#muscle_text_hover {
    border: 1px solid var(--green-color);
    height: 1rem;
    /*border: 1px solid var(--blue-color);*/
}

#body_part_text_selected {
    border: 1px solid var(--yellow-color);
    height: 1rem;

}

#trainingsplan_text_selected {
    /*border: 1px solid var(--green-color);*/
    /*   border: 1px solid var(--blue-color);*/
    height: 1rem;

}

#trainingsplan_view_exercise {
    background: var(--dark-blue-color);

}

#exercise_text_selected {
    /*border: 1px solid rgba(255, 153, 153, 0.5);*/
    border: 1px solid var(--red-color);

}

a {

    color: #000000;
    text-decoration: none;
    /*border-bottom: 1px solid rgba(249, 105, 14, 1) !important;*/

}


a, a:active {
    /*color: var(--yellow-color) !important;*/
}

.bild1 {
    position: fixed;
    top: 120px;
    left: 900px;

}

.bild2 {
    position: fixed;
    top: 120px;
    left: 40px;
}

h3 {
    padding-top: 0 !important;
    margin-bottom: 5px;
    border-bottom: 1px solid #7d5c5c;
    color: var(--red-color);
    font-size: 12px;
}

select {
    border-radius: 0;
}

/*.multi_pic, #hover {*/
/*    left: 75px;*/
/*    position: absolute;*/
/*    top: 90px;*/
/*    transform: scale(1.3);*/
/*}*/
.horizontal .multi_pic, .horizontal #hover {
    left: 4rem;
    position: absolute;
    top: 4rem;
    transform: scale(1.2);
}
.vertical .multi_pic, .vertical #hover {
    left: 14rem;
    position: absolute;
    top: 7rem;
    transform: scale(2);
}

.multi_pic_relative {
    position: relative;
    top: 190px;
    transform: scale(1.7);
}

.trainingsplan_exercise_multi_pic_base {
    left: 10px;
    position: absolute;
    top: 10px;

}

.trainingsplan_exercise_multi_pic_exercise {
    top: 20px;
    left: -305px;
    position: absolute;
}

div#trainingsplan_edit_exercise {
    /*padding: 7px;*/
}

.multi_pic3, #selected_exercise #hover {
    left: 70px;
    position: absolute;
    top: 80px;
}

.multi_pic_mini {
    width: 200px;
}

.multi_pic2 {
    position: absolute;
    top: 0;
    left: 0;
}

.multi_pic_mini2 {
    width: 200px;
}

input {
    border-radius: 0;
}

div#small_links * {
    font-size: 1rem !important;
}

input[type="checkbox" i] {
    cursor: pointer;
}

.user_text_horizontal {
    font-size: 16px;
    height: 898px;
    overflow: hidden auto;
}

.user_text_vertical {
    position: relative;
    font-size: 2rem;
    width: 100%;
    height: 20rem;
    overflow: hidden auto;
    /* float: left; */
}

#user_selected {
    position: relative;

}

.text {
    position: absolute;
    width: 1000px;
    top: 650px;
    left: 250px;
}

#exercise {
    /*width: 700px;*/
    /*float: left;*/
    /*top: -40px;*/
}

#exercises {
    /*width: 300px;*/
    /*position: relative;
    top: 0;
    float: left;
    left: 0;
    padding-right: 20px;*/
}

div#exercise_edit {
    position: relative;
    top: 50px;
}

#trainings_exercises {
    height: 100px;
    position: relative;
    top: 410px;
    z-index: 9;
    left: 1450px;
    width: 380px;
}

#trainingsplans_muscles {
    min-height: 6px;
    position: absolute;
    top: 0;
    /* left: 780px; */
    width: 315px;
    max-height: 640px;
    overflow: auto;
}

#exercises_muscles {
    min-height: 6px;
    position: absolute;
    top: 70px;
    left: 500px;
    width: 250px;
    height: 425px;
    overflow: auto;
}

#selected_exercises_muscles {
    min-height: 6px;
    position: absolute;
    top: 70px;
    left: 0;
    width: 296px;
    height: 425px;
    overflow: auto;
}

#muscles {
    width: 100%;
    max-height: 640px;
    overflow: hidden auto;
    float: left;
    position: relative;
    /* top: 0;*/
}

textarea {
    width: 230px;
    height: 60px;
}

table {
    width: 100%;
}

#outer_container {
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 725px;
    position: relative;
    width: 100%;
}

.grid_child_horizontal .exercises_text_div {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #0000001f;
    height: 53px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    font-size: 1rem;
}

.grid_child_vertical .exercises_text_div {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #0000001f;
    height: 4rem;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    font-size: 2rem;
}

#container {
    margin: 0 auto;
    /*width: 1300px;*/
    min-height: 700px;
    position: relative;

    /*min-width: 1850px;*/
    max-width: 100%;
    /*border: 1px solid var(--green-color);*/
    /*padding: 30px;*/
}

#user_trainingsplans_container {
    margin: 0 auto;

    min-height: 700px;
    position: relative;
    top: 15px;
    min-width: 1300px;
    max-width: 100%;
}

#notice {
    border: 1px solid #ff5656;
    width: 550px;
}

#ex {
    /* background-color: #333333;*/

    position: relative;

}

#ex_title {
    font-size: smaller;
}

#x_title {

    border: 1px solid var(--red-color);

}

#x_description {

    position: relative;

    padding: 1px 20px 20px 20px;
    box-shadow: 8px 10px 26px var(--blue-color) inset;
    -moz-box-shadow: 8px 10px 26px var(--blue-color) inset;
    -webkit-box-shadow: 8px 10px 26px var(--blue-color) inset;
}

#x_how_to {

    padding: 1px 20px 20px 20px;
    box-shadow: 8px 10px 26px var(--green-color) inset;
    -moz-box-shadow: 8px 10px 26px var(--green-color) inset;
    -webkit-box-shadow: 8px 10px 26px var(--green-color) inset;
}

#x_how_not_to {

    padding: 1px 20px 20px;

    box-shadow: 8px 10px 26px var(--red-color) inset;
}

#x_info {

    padding: 1px 20px 20px;
    box-shadow: 8px 10px 26px var(--yellow-color) inset;
}

#x_exercise_type {

}

.open_exercise {
    background-color: var(--red-color);
    /*border: 1px solid #FFFFFF;*/
    float: right;
    height: 200px;
    overflow: hidden;
    position: relative;
    right: -119px;
    text-align: center;
    top: 225px;
    width: 20px;
    z-index: 9;
}

.close_exercise {
    background-color: var(--red-color);
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    float: right;
    height: 200px;
    position: relative;
    right: -98px;
    top: 125px;
    width: 20px;
    box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.4) inset;
    z-index: 9;
}

.open_training {
    /*background-color: var(--blue-color);*/
    /* height: 34px; */
    overflow: hidden;
    position: relative;
    left: 0;
    width: 190px;
    z-index: 9;
    /* top: 5px; */
    text-align: center;
    /* padding-top: 6px; */
    box-sizing: border-box;
    cursor: pointer;
}

#trainingsplans_show_view .open_training {
    background-color: var(--blue-color);
    /*background-color: var(--green-color);*/
    color: #fff;
    /* border: 1px solid #ffffff;*/
    height: 20px;
    overflow: hidden;
    position: absolute;
    left: 190px;
    top: -45px;
    width: 190px;
    z-index: 9;
    text-align: center;
}

.close_training {
    background-color: var(--blue-color);
    /*background-color: var(--green-color);*/
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    float: right;
    height: 200px;
    position: relative;
    right: -118px;
    top: 25px;
    width: 20px;
    box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.4) inset;
    z-index: 9;
}

.show_exercise {

    position: relative;
    /*float: left;*/
    height: 420px;
    /*border: 1px solid green;*/

}

.hidden_exercise {
    height: 0;
    position: absolute;
    left: 1105px;
    width: 0;
    overflow: hidden;
}


.hidden_muscle_pic {
    display: none;
}

#donation {
    position: fixed;
    bottom: 0;
    left: 0;
}

.box {
    position: absolute;
    top: 620px;
    width: 1024px;

}

ul {
    bottom: 15px;
    list-style: none outside none;
    margin: 0;
    padding: 10px;
    position: relative;
}

li {

    float: left;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.grey {
    color: #cccccc;

}

#user_training {
    position: absolute;
    right: 200px;
    top: 0;
}

#training_text {
    font-size: xx-large;

}

#login_box {
    float: right;
    /*
    position: absolute;
    right: 200px;
*/
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

#muscle_selected {
    opacity: 1 !important;
}

.muscle_text_option {
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #0000001f;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

#body_area area {
    cursor: pointer;
}

#exercise_selected {
    left: 0;
    position: absolute;
    top: 0;
    /*  z-index: 1;*/
}

#muscle_selected {
    left: 0;
    position: absolute;
    top: 0;
    /*z-index: 1;*/
}


* {
    word-wrap: break-word;
}

.red_glow {
    text-shadow: 0 0 24px var(--red-color), 0 0 4px var(--red-color), 1px 1px 2px #333;
}

.green_glow {
    text-shadow: 0 0 24px var(--green-color), 0 0 4px var(--green-color), 1px 1px 2px #333;
}

.yellow_glow {
    text-shadow: 0 0 24px var(--yellow-color), 0 0 4px var(--yellow-color), 1px 1px 2px #333;
}

.blue_glow {
    text-shadow: 0 0 24px var(--blue-color), 0 0 4px var(--blue-color), 1px 1px 2px #333;
}

.red_shadow {
    text-shadow: 0 3px 11px var(--red-color);
}

.green_shadow {
    text-shadow: 0 3px 11px var(--green-color);
}

.yellow_shadow {
    text-shadow: 0 3px 11px var(--yellow-color);
}

.blue_shadow {
    text-shadow: 0 3px 11px var(--blue-color);
}

.red_glow_for_same_color_text {
    text-shadow: 0 0 11px var(--red-color);
}

.green_glow_for_same_color_text {
    text-shadow: 0 0 11px var(--green-color);
}

.yellow_glow_for_same_color_text {
    text-shadow: 0 0 11px var(--yellow-color);
}

.blue_glow_for_same_color_text {
    text-shadow: 0 0 11px var(--blue-color);
}

div {
    /*  -webkit-border-radius: 8px 8px 7px 7px;

      -moz-border-radius: 8px 8px 7px 7px;
      border-radius: 8px 8px 7px 7px;*/
}


a:link, a:visited {
    /*  -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;*/

}

a:hover, a:active {
    /*  color: var(--red-color) !important;*/

    /*color: rgba(249, 105, 14, 1) !important;*/
    color: white !important;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;
    /*color: var(--blue-color);*/
    text-decoration: none;
    /*border-bottom: 1px solid rgba(249, 105, 14, 1) !important;*/
}


body, p, ol, ul, td {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
    font-size: 1rem;
    line-height: 1rem;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}


#navilinks a {
    margin-right: 15px;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;
    color: var(--yellow-color) !important;
}

#navilinks a:hover {
    margin-right: 15px;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;
    color: white !important;
}

#navilinks a:visited {
    /*color: var(--light-green-color);*/
    /*color: white;*/
    /*text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;*/
}

#navilinks {
    font-size: 1rem;
    padding-bottom: 10px;
    border-bottom: 1px solid antiquewhite;
}


.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}

#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px 7px 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.show_training {
    min-width: 350px;
    min-height: 898px;
    border: 1px solid rgba(58, 58, 58, 0.6);
}

#trainingsplans {
    left: 314px;
    position: absolute;
    top: -11px;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 1rem;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 1rem;
    list-style: square;
}


div#trainings_exercises_text {
    background: rgba(58, 58, 58, 0.2);
    padding: 10px;
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid antiquewhite;
}

.remove_exercise {
    position: absolute;
    top: -10px;
    left: 8px;
    color: var(--red-color);
}

.move_exercise_up {
    position: absolute;
    top: 10px;
    left: 305px;
    color: var(--yellow-color);
}

.move_exercise_down {
    position: absolute;
    top: 60px;
    left: 305px;
    color: var(--yellow-color);
}

div.trainingsplans_exercises_text {
    display: inline-block;
    /*    text-align: center;*/
    padding: 14px;
    text-decoration: none;
}

div.trainingsplans_exercises_text {
    height: 60px;
    width: 310px;
    position: relative;
    font-weight: bold;
    white-space: normal;
    border: 1px solid black;
}

div.trainingsplans_exercises_text.active_exercise {
    height: 60px;
    position: relative;

    font-weight: bold;
    border: 2px solid var(--red-color);
}

.trainingsplan_item {
    width: 800px;
    float: left;
    border: 2px solid #5f5c5c;
    padding: 5px;
    box-sizing: border-box;
    transform: scale(0.7);
    position: relative;
    margin-top: -77px;
    margin-left: -230px;
    margin-bottom: -77px;
    left: 130px;
}

.exercise_selection_link {
    position: absolute;
    width: 290px;
    height: 45px;
    top: 0px;
    left: 0px;
    text-align: center;
    vertical-align: middle;
    padding: 25px;
}

input {
    /*float: left;*/
}

#users_exercise_video {
    position: absolute;
    left: 900px;
}

#trainingsplans_exercise_video_show {
    position: absolute;

}

#exercise_video_show {
    position: absolute;
    left: 840px;
}

#exercise_video_show {
    position: absolute;
    left: 1060px;
}

#exercises__exercise_video {
    position: absolute;
    left: 900px;
}

#rep_sec_pause {
    position: absolute;
    bottom: -35px;
    width: 100%;
}

#reps, #duration, #pause {
    width: 100%;
}

#exercises_show {
    position: relative;
    height: 18rem;
}

#exercises_show video {
    width: 100%;
    max-height: 385px;
    background: rgba(58, 58, 58, 0.2);
    border: 1px solid rgba(58, 58, 58, 0.6);
}

#open_training,
#trainingsplan_id,
#trainingsplan_trainingsplan_id,
.show_training input {
    cursor: pointer;
}

#start_exercise {
    /*left: 295px;*/
    position: absolute;
    top: -15px;
    float: left;
    cursor: pointer;
    display: block;
}

#pause_exercise {
    /*left: 295px;*/
    float: left;
    cursor: pointer;
    display: none;
    position: absolute;
    top: -15px;
}

#exercise_video_show video, #trainingsplans_exercise_video_show video {
    max-height: 800px;
}

.mainborder {

    display: table;
    width: 900px;
    border: 1px solid var(--green-color);;
    padding: 30px;
    margin: 40px;
}

.material-icons {
    top: 1px !important;
    position: relative !important;
    font-size: 15px !important;
}

div#trainingsplan_edit_exercise input[type=text] {
    width: 30px;
}

.vertical .exercise_border_red {
    border: var(--red-color) 1px solid;
    padding: 0.5rem;
    position: relative;
    height: 15rem;
    margin-top: 5px;
    text-align: left;
}


.horizontal .exercise_border_red {
    border: var(--red-color) 1px solid;
    padding: 0.5rem;
    position: relative;
    height: 10rem;
    margin-top: 5px;
    text-align: left;
}

.exercise_border_blue {
    border: var(--blue-color) 1px solid !important;
    position: relative;
}

.exercise_border_red video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.vertical .videos_folder {
    position: absolute;
    width: 50%;
    height: 10rem;
    box-sizing: border-box;
}

.horizontal .videos_folder {
    position: absolute;
    width: 50%;
    height: 7rem;
    box-sizing: border-box;
}

#edit_video_view .videos_folder {
    position: relative !important;
    width: 264px !important;
    height: 200px !important;
    box-sizing: border-box !important;
}

#exercise .videos_folder {
    position: absolute;
    width: 100%;
    height: 105px;
    box-sizing: border-box;
}

.trainingsplan_name {
    color: var(--blue-color);
    font-size: 1rem;
    padding: 5px;
}

.exercise_name {
    color: var(--red-color);
    font-size: 1rem;
    padding: 5px;
}

#exercises_text_header {
    border: 1px solid var(--yellow-color);
}

#muscle_text_header {
    border: 1px solid var(--red-color);
    display: none;
}

meter {
    height: 50px;
}

#play_div meter::-webkit-meter-optimum-value {
    background: #2cab85;
}

#pause_div meter::-webkit-meter-optimum-value {
    background: var(--red-color);
}

#trainingsplan_muscle_images_field {
    transform: scale(0.85);
    left: 1450px;
}

#trainingsplan_selection_area {
    left: 1450px;
    top: 30px;
    position: absolute;
    z-index: 9999;
}

#body_tag {
    /*position: absolute;*/
    box-sizing: border-box;
}


td {
    position: relative;
}

#trainingsplan_id {
    position: absolute;
    top: -33px;
    left: 205px;
    font-size: 1rem;
    height: 32px;
    border-radius: 0;
    max-width: 620px;
    z-index: 99;
}

.exercise_border_red div.main_exercises_text {
    border-bottom: 1px solid var(--red-color);

}

.main_exercises_text {
    height: 2rem;
    width: 100%;
    box-sizing: border-box;
}

#exercise_list {
    position: relative;
    z-index: 99999;

}

.vertical .exercise_list_rep {
    position: relative;
    left: 25rem;
    margin: 1rem;
    width: 20rem;
    height: 1rem;
}

.vertical .exercise_list_duration {
    position: relative;
    left: 25rem;
    margin: 1rem;
    width: 20rem;
    height: 1rem;
}

.vertical .exercise_list_pause {
    position: relative;
    left: 25rem;
    margin: 1rem;
    width: 20rem;
    height: 1rem;
}
.horizontal .exercise_list_rep {
    position: relative;
    left: 10rem;
    margin: 1rem;
    width: 7rem;
    height: 1rem;
}

.horizontal .exercise_list_duration {
    position: relative;
    left: 10rem;
    margin: 1rem;
    width: 7rem;
    height: 1rem;
}

.horizontal .exercise_list_pause {
    position: relative;
    left: 10rem;
    margin: 1rem;
    width: 7rem;
    height: 1rem;
}

.exercise_list_select {
    top: 1px;
    position: relative;
    left: 1px;
}

input#trainingsplan_name {
    width: 150px;
    position: absolute;
}

.add_to_playlist {
    float: right;

}

div#multi_pic_container {
    top: 0;
    left: 0;
    position: relative;
    min-height: 900px;
}

#m_primary, #m_secondary, #m_antagonistic {
    float: left;
    width: 50%;
}


.grid_parent {
    display: flex;
    flex-wrap: wrap;
}

.trainingsplan_grid {
    flex: 1 1 220px;
    text-align: center;
}
.exercises_grid {
    flex: 0 1 14rem;
    text-align: center;
    width: 10rem;
}

.grid_child_horizontal {
    /*flex: 1 1 170px;*/
    /*text-align: center;*/
}

.yellow_background{
    background: var(--dark-yellow-color);
    overflow: hidden;
}
.green_background{
    background: var(--dark-green-color);

}
.red_background{
    background: var(--dark-red-color);

}
.blue_background{
    background: var(--dark-blue-color);

}
.grid_child_multi_pic {
    /* flex: none | [ < 'flex-grow' > < 'flex-shrink' > ? | | < 'flex-basis' > ]
    // If we don 't want the items to stretch: */
    flex: 1 1 400px;

    /* If we do want the items to stretch:*/

    /* etc . border: 1 px solid red;*/
    /*background: #b6ffd3;*/
    /*font-size: 2rem;*/
    text-align: center;
    /*background: var(--blue-color)*/
}

.grid_child3 {
    /* flex: none | [ < 'flex-grow' > < 'flex-shrink' > ? | | < 'flex-basis' > ]
    // If we don 't want the items to stretch: */
    flex: 1 1 300px;
    /* If we do want the items to stretch:*/


    /* etc . border: 1 px solid red;*/
    /*background: #b6ddff;*/
    /*font-size: 2rem;*/
    text-align: center;
}


.small_links a {
    color: var(--yellow-color);
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;
}

#signup, #login, #forgot_pw, #reset_pw {
    color: var(--red-color);
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;
}

#signup table, #login table, #forgot_pw table, #reset_pw table {
    color: var(--green-color);
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;
}


.table_container {
    border: 1px solid black;
    width: 50rem;
    padding: 20px;
}


input[type="text"], input[type="password"] {
    background: #565656;
    color: var(--green-color);
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;
    border-radius: 30px;
    padding-left: 30px;
}

#signup input[type="submit"], #login input[type="submit"], #forgot_pw input[type="submit"], #reset_pw input[type="submit"] {
    background: var(--blue-color);
    /*text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black !important;*/
}

/* end of login signup */

iframe {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.vertical #search_field_magnify {
    font-size: 5rem !important;
    top: 0 !important;
}
.horizontal #search_field_magnify {
    font-size: 3rem !important;
    top: 0 !important;
}

.vertical #search_filter_down {
    font-size: 5rem !important;
    position: absolute !important;
    right: 0;
    top: 0 !important;
    cursor: pointer;
}

.horizontal #search_filter_down {
    font-size: 3rem !important;
    position: absolute !important;
    right: 0;
    top: 0 !important;
    cursor: pointer;
}

#search_filter_up {
    font-size: 3rem !important;
    position: absolute !important;
    right: 0;
    top: 0 !important;
    display: none;
    cursor: pointer;
}

.horizontal #trainingsplan_down,.horizontal #exercises_down,.horizontal #exercise_down {
    font-size: 3rem !important;
    position: absolute !important;
    right: 0;
    top: 0 !important;
    cursor: pointer;
}

.vertical #trainingsplan_down,.vertical #exercises_down,.vertical #exercise_down {
    font-size: 5rem !important;
    position: absolute !important;
    right: 0;
    top: 0 !important;
    cursor: pointer;
}

.horizontal #trainingsplan_up,.horizontal #exercises_up,.horizontal #exercise_up {
    font-size: 3rem !important;
    position: absolute !important;
    right: 0;
    top: 0 !important;
    display: none;
    cursor: pointer;
}
.vertical #trainingsplan_up,.vertical #exercises_up,.vertical #exercise_up {
    font-size: 5rem !important;
    position: absolute !important;
    right: 0;
    top: 0 !important;
    display: none;
    cursor: pointer;
}
.vertical .nice_inner_tab_js_hover{
    height: 3rem !important;
    font-size: 2rem;

}
.horizontal .nice_inner_tab_js_hover{
    height: 1rem !important;
    font-size: 1rem;

}


#search_filter {
    height: 0;
    overflow: hidden;
}

.grid_child_vertical {
    flex: 1 1 697px;
    height: 18rem;
    /* background: lightpink; */
    /* font-size: 2rem; */
    text-align: center;
    position: relative;
}

.blue_background.trainingsplan_grid.grid_child_vertical {
    height: 5rem;
    overflow: hidden;
    font-size: 4rem;
}
.exercise_grid{
    overflow: hidden;
}

.vertical #name{
    position: absolute;
    font-size: 3rem;
    top: 0.6rem;
    left: 5rem;
}

.horizontal #name{
    position: absolute;
    font-size: 2rem;
    top: 0.3rem;
    left: 3rem;
}
.video_name{
    width:190%;
}