<div id="ex">
  <%#= link_to("Schließen", :url=>{:controller=>"main", :action=>"hide_exercise"}, :remote=>true) %>
  <%= link_to "Edit", edit_exercise_path(@exercise) %>
  <div id="x_title">

    <%= h @exercise.name %>
  </div>
  <div id="x_exercise_type">
    <strong>exercise_type:</strong>
    <%#= h @exercise.exercise_type %>
  </div>
  <div style="position:relative;">

    <div id="exercises_show">
      <%= render :partial => "trainingsplans/video" %>
    </div>

    <div id="x_how_to">
      <div id="ex_title">Was tun:</div>
      <br/>
      <%#= h @exercise.how_to %>
    </div>

    <div id="x_how_not_to">
      <div id="ex_title">Was NICHT tun:</div>
      <br/>
      <%#= h @exercise.how_not_to %>
    </div>

    <div id="x_description">
      <div id="ex_title">Beschreibung:</div>
      <br/>
      <%#= h @exercise.description %>
    </div>

  </div>
</div>
