<div id="ex">
  <%#= link_to("Schließen", :url=>{:controller=>"main", :action=>"hide_exercise"}, :remote=>true) %>

  <div id="x_title" class="nice_inner_tab_js_hover">

    <%= h @exercise ? @exercise.name : "Exercise" %>
<!--    <i id="exercise_down" class="material-icons dropdown_icons" onclick="ui_render.show_exercise();">arrow_drop_down</i>-->
<!--    <i id="exercise_up" class="material-icons dropdown_icons" onclick="ui_render.hide_exercise();">arrow_drop_up</i>-->
  </div>
  <!--div id="x_exercise_type">
    <strong>exercise_type:</strong>
    <%#= h @exercise.exercise_type %>
  </div-->
  <div style="position:relative;">

    <div id="exercises_show">
      <% if @video %>
        <%= render "videos/video", :video => @video, :view => "preload" %>
      <% else %>
        <% if @exercise %>
          <iframe id="ytplayer" type="text/html" width="640" height="360" src="https://www.youtube.com/embed?listType=search&list=<%= @exercise.name.gsub(" ", "+") %>&origin=http://free-workouts.com" frameborder="0" style="position:absolute;left:0;max-width: 100%;"></iframe>

        <% else %>
          <br>
          <br>
          <br>
          <span style="font-size: 3rem;">no exercise selected</span>
        <% end %>
      <% end %>
      <%= link_to t('edit'), edit_exercise_path(@exercise), :style => "z-index: 999;position: relative;" if @exercise %>
    </div>
    <!--div id="x_how_to">
      <div id="ex_title">Was tun:</div>

      <%#= h @exercise.how_to %>
    </div>

    <div id="x_how_not_to">
      <div id="ex_title">Was NICHT tun:</div>

      <%#= h @exercise.how_not_to %>
    </div>

    <div id="x_description">
      <div id="ex_title">Beschreibung:</div>

      <%#= h @exercise.description %>
    </div-->

  </div>
</div>
