<div id="ex">
  <%#= link_to("Schließen", :url=>{:controller=>"main", :action=>"hide_exercise"}, :remote=>true) %>
  <% if is_exercise_owner_for(@exercise.id) %>
    <%= link_to "Edit", edit_exercise_path(@exercise) %>
  <% end %>



  <div id="selected_exercise" style="position: absolute;top: 20px;left:0px;">
    <%= render "exercises/selected_exercise" %>
  </div>

</div>




