<div id="ex">
  <%#= link_to("Schließen", :url=>{:controller=>"main", :action=>"hide_exercise"}, :remote=>true) %>
  <%= link_to "Edit", edit_exercise_path(@exercise) %>



  <div id="selected_exercise" style="position: absolute;top: 20px;">
    <%= render "exercises/selected_exercise" %>
  </div>

</div>

