

<div style="position: relative;
    width: 1000px;
    margin: auto;">

<div id="exercice_table" style="width: 300px;
    position: absolute;
    height: 400px;
    overflow: auto;">
<table style="width:300px;">
  <tr>
    <th>Name</th>
    <th>Type</th>
  </tr>

  <% @exercises.each do |exercise| %>
    <tr>
      <td>
        <%= link_to(exercise.name, {:controller => "exercises", :action => "update_selected_exercise", :id => exercise.id}, {:remote => true, :method => :post}) %>

      </td>
      <td><%=h exercise.exercise_type %></td>

    </tr>
  <% end %>
</table>
</div>


<div id='selected_exercise' style="    position: relative;left: 350px;top: 20px;">

  <%= render 'exercises/selected_exercise' %>
</div>

</div>