
  <strong>Deine Traingspläne:</strong>

  <table>
  <% @trainingsplans.each do |trainingsplan| %>

  <tr>
    <td><%= trainingsplan.name %>
      <%= link_to('<i class="material-icons">add_circle_outline</i>'.html_safe,{:controller=>"main", :action=>"add_exercise", :exercise=>@exercise_id, :trainingsplan=>trainingsplan.id}, {:remote=>true, :method=>:post} ) %>
    </td>

  </tr>
  <% end %>
  </table>

