<div id="user_selected">
  <% exercises = @trainingsplan.exercises %>
  <% @ettps = @trainingsplan.exercise_to_trainingsplans %>

  <% exercises.each_with_index do |exercise, i| %>

    <%= user_muscle_pics(exercise.primary_muscles, "selected", 4) %>
    <%= user_muscle_pics(exercise.secondary_muscles, "selected", 1) %>
  <% end %>

</div>





