<span id="trainingsplans_folder">
    <div id="rep_sec_pause">
    <%= render :partial => "trainingsplans/rep_sec_pause" %>
  </div>

  <% if video && video.video.attached? %>
  <% if width %>


    <%#= video_tag("#{url_for(video.video)}.mp4", :controls => "false", :onended=>"video_ended();", :width=>300) %>
      <%= video_tag("#{url_for(video.video)}", :controls => false, :oncanplay => "autoCallInitOnVidLoadIfTrainingStarted();", :onended => "video_ended();", :width => width, preload: 'metadata') %>
  <% else %>
    <%= video_tag("#{url_for(video.video)}", :controls => false, :oncanplay => "autoCallInitOnVidLoadIfTrainingStarted();", :onended => "video_ended();", preload: 'metadata') %>
  <% end %>

<% else %>

  NO VIDEO
<% end %>
</span>