<p id="notice"><%= notice %></p>

<p>
  <strong>Traingsplan:</strong>
  <%= @trainingsplan.name %>
</p>

<%= link_to 'Edit', edit_trainingsplan_path(@trainingsplan) %> |
<%= link_to 'Back', trainingsplans_path %>
