<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Hello and happy welcome to free-workouts.com,</h1>
<p>
  You have successfully signed up.
  Your login is: <%= @user.email %>.
</p>
<p>
  free-workouts.com aims to simplify the creation and sharing of individual workouts.

</p>

<p>
  no login required:
  -Open a workout and start training.
  -Find muscle specific exercises.

  login required:
  -create your own workouts
  -upload your own videos for existing exercises if you like
  -share workouts for instant access for your family, friends and follower to start training with one click (no account
  needed to start a shared workout) only modern Web browser(HTML5) browser needed.
  -help to expand our free database by adding your own exercise
</p>

<p>
  To login to the site, just follow this link: <%= @url %>.
</p>

<p>Thanks for joining and have a great day!</p>


</body>
</html>